<div class="row">
<div class="col-12 col-lg-6 p-3" *ngFor="let item of repositories">  
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.name}}
      </mat-panel-title>
      <mat-panel-description>
        <p>
            Language: {{item.language}}
        </p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{item.description}}</p>
    <p>Criado em: {{item.created_at | date:"dd/MM/yy HH:mm:ss"}}</p>
    <p>Última atualização: {{item.pushed_at | date:"dd/MM/yy HH:mm:ss"}}</p>
    <div class="align-items-center d-flex">
    <p>
        <mat-icon>star_border</mat-icon>
    </p>
    <p> Star: {{ item.stargazers_count }}</p>
    </div>
  </mat-expansion-panel>
  
  </div>
  </div>
  