<div class="container d-flex algin-items-center">
    <div class="avatar">
        <img src="{{profile.avatar_url}}" alt="avatar Photo">
    </div>
    <div class="d-flex flex-column flex-md-row">
        <div class="d-flex flex-column m-2 pl-4">
            <h2>{{ profile.name }}</h2>
            <h4>{{ profile.login }}</h4>
            <h5 *ngIf="profile.bio">{{ profile.bio }}</h5>
        </div>
        <div class="vl mr-2 d-md-flex d-none"></div>
        <div class="hl my-2 d-md-none d-flex"></div>
        <div class="d-flex flex-column pl-4">
            <div class="d-flex flex-row mt-2">
                <mat-icon class="mr-2">location_on</mat-icon><span>{{profile.location}}</span>
            </div>
            <div class="d-flex flex-row" *ngIf="profile.company"> 
                <mat-icon class="mr-2">business</mat-icon><span>{{profile.company}}</span>
            </div>
            <div class="d-flex flex-row algin-items-center">
                <mat-icon class="mr-2">supervisor_account</mat-icon><span>Followers: {{profile.followers}}</span><span class="ml-2">Following: {{profile.following}}</span>
            </div>
            <div class="d-flex flex-row algin-items-center" *ngIf="profile.blog">
                <mat-icon class="mr-2">link</mat-icon><span><a class="text-primary" href="{{profile.blog}}">{{ profile.blog }}</a></span>
            </div>
        </div>
    </div>
</div>
